.App {
  text-align: center;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.header{
  display: flex; 
  justify-content: space-between;
  &__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 35px 0 5px 0;
  }
  &__link{
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }
  &__name{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    text-align: left;
  }
}
.search-input{
  margin-top: 15px;
  width: 38%;
  background-color: #e8e8e8;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 0 7px;
  height: 25px;
}
.phone-book{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  &__item{
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__image{
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__text-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__name{
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    text-transform: capitalize;
  }
  &__number{
    font-size: 12px;
    line-height: 15px;
    margin: 4px 0 0 0;
  }
  &__right{
    display: flex;
  }
  &__change{
    font-size: 18px;
    cursor: pointer;
    margin-right: 8px;
  }
  &__delete{
    font-size: 22px;
    cursor: pointer;
  }
}
.pop-up{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  &_active{
    transform: scale(1);
  }
  &__content{
    width: 550px;
  }
  &__header{
    background-color: #B7B7B7;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  &__body{
    background-color: #EFEFEF;
  }
  &__name{
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    &-b{
      padding-left: 5px;
      font-size: 17px;
      text-transform: capitalize;
    }
  }
  &__body{
    display: flex;
  }
  &__image{
    width: 100px;
    height: 100px;
    background: #D9D9D9;
    border-radius: 50%;
    margin: 40px 30px 0 25px;
  }
  &__form{
    width: 61.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 13px;
  }
  &__field{
    margin-top: 10px;
    &-name{
      margin: 0;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #000;
      text-align: left;
    }
  }
  &__input{
    margin-top: 4px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 310px;
    padding: 6px 10px;
    &::placeholder {
      text-transform: capitalize;
    }
  }
  &__save{
    background: #519DD3;
    border-radius: 10px;
    color: #fff;
    padding: 8px 40px;
    align-self: flex-end;
    margin: 26px 0 20px 0;
    cursor: pointer;
  }
  &__escape{
    cursor: pointer;
  }
}
